<a href="https://colab.research.google.com/github/NishmithaJR/Principles-of-Data-Science/blob/main/Write_a_prgram_in_Python_to_read_and_write_different_types_of_files_and_also_display(csv%2Ctext%2Cjson%2Cjsonl).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

To read and write csv file

In [ ]:
car=pd.read_csv("/content/drive/MyDrive/Principles of Data Science/cars.csv")
car

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
5,2013,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
6,2013,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
7,2013,TESLA,MODEL S (40 kWh battery),FULL-SIZE,270,A1,B,22.4,21.9,22.2,2.5,2.5,2.5,0,NaN,224,6
8,2013,TESLA,MODEL S (60 kWh battery),FULL-SIZE,270,A1,B,22.2,21.7,21.9,2.5,2.4,2.5,0,NaN,335,10
9,2013,TESLA,MODEL S (85 kWh battery),FULL-SIZE,270,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12
10,2013,TESLA,MODEL S PERFORMANCE,FULL-SIZE,310,A1,B,23.9,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12
11,2014,CHEVROLET,SPARK EV,SUBCOMPACT,104,A1,B,16.0,19.6,17.8,1.8,2.2,2.0,0,NaN,131,7
12,2014,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
13,2014,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
14,2014,NISSAN,LEAF,MID-SIZE,80,A1,B,16.5,20.8,18.4,1.9,2.3,2.1,0,NaN,135,5
15,2014,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
16,2014,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
17,2014,TESLA,MODEL S (60 kWh battery),FULL-SIZE,225,A1,B,22.2,21.7,21.9,2.5,2.4,2.5,0,NaN,335,10
18,2014,TESLA,MODEL S (85 kWh battery),FULL-SIZE,270,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12
19,2014,TESLA,MODEL S PERFORMANCE,FULL-SIZE,310,A1,B,23.9,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12
20,2015,BMW,i3,SUBCOMPACT,125,A1,B,15.2,18.8,16.8,1.7,2.1,1.9,0,NaN,130,4
21,2015,CHEVROLET,SPARK EV,SUBCOMPACT,104,A1,B,16.0,19.6,17.8,1.8,2.2,2.0,0,NaN,131,7
22,2015,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
23,2015,KIA,SOUL EV,STATION WAGON - SMALL,81,A1,B,17.5,22.7,19.9,2.0,2.6,2.2,0,NaN,149,4
24,2015,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
25,2015,NISSAN,LEAF,MID-SIZE,80,A1,B,16.5,20.8,18.4,1.9,2.3,2.1,0,NaN,135,5
26,2015,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
27,2015,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
28,2015,TESLA,MODEL S (60 kWh battery),FULL-SIZE,283,A1,B,22.2,21.7,21.9,2.5,2.4,2.5,0,NaN,335,10
29,2015,TESLA,MODEL S (70 kWh battery),FULL-SIZE,283,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,NaN,377,12
30,2015,TESLA,MODEL S (85/90 kWh battery),FULL-SIZE,283,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12
31,2015,TESLA,MODEL S 70D,FULL-SIZE,280,A1,B,20.8,20.6,20.7,2.3,2.3,2.3,0,NaN,386,12
32,2015,TESLA,MODEL S 85D/90D,FULL-SIZE,280,A1,B,22.0,19.8,21.0,2.5,2.2,2.4,0,NaN,435,12
33,2015,TESLA,MODEL S P85D/P90D,FULL-SIZE,515,A1,B,23.4,21.5,22.5,2.6,2.4,2.5,0,NaN,407,12
34,2016,BMW,i3,SUBCOMPACT,125,A1,B,15.2,18.8,16.8,1.7,2.1,1.9,0,10.0,130,4
35,2016,CHEVROLET,SPARK EV,SUBCOMPACT,104,A1,B,16.0,19.6,17.8,1.8,2.2,2.0,0,10.0,131,7
36,2016,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,10.0,122,4
37,2016,KIA,SOUL EV,STATION WAGON - SMALL,81,A1,B,17.5,22.7,19.9,2.0,2.6,2.2,0,10.0,149,4
38,2016,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,10.0,100,7
39,2016,NISSAN,LEAF (24 kWh battery),MID-SIZE,80,A1,B,16.5,20.8,18.4,1.9,2.3,2.1,0,10.0,135,5
40,2016,NISSAN,LEAF (30 kWh battery),MID-SIZE,80,A1,B,17.0,20.7,18.6,1.9,2.3,2.1,0,10.0,172,6
41,2016,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,10.0,109,8
42,2016,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,10.0,109,8
43,2016,TESLA,MODEL S (60 kWh battery),FULL-SIZE,283,A1,B,22.2,21.7,21.9,2.5,2.4,2.5,0,10.0,335,10
44,2016,TESLA,MODEL S (70 kWh battery),FULL-SIZE,283,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,10.0,377,12
45,2016,TESLA,MODEL S (85/90 kWh battery),FULL-SIZE,283,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,10.0,426,12
46,2016,TESLA,MODEL S 70D,FULL-SIZE,386,A1,B,20.8,20.6,20.7,2.3,2.3,2.3,0,10.0,386,12
47,2016,TESLA,MODEL S 85D/90D,FULL-SIZE,386,A1,B,22.0,19.8,21.0,2.5,2.2,2.4,0,10.0,435,12
48,2016,TESLA,MODEL S 90D (Refresh),FULL-SIZE,386,A1,B,20.8,19.7,20.3,2.3,2.2,2.3,0,10.0,473,12
49,2016,TESLA,MODEL S P85D/P90D,FULL-SIZE,568,A1,B,23.4,21.5,22.5,2.6,2.4,2.5,0,10.0,407,12
50,2016,TESLA,MODEL S P90D (Refresh),FULL-SIZE,568,A1,B,22.9,21.0,22.1,2.6,2.4,2.5,0,10.0,435,12
51,2016,TESLA,MODEL X 90D,SUV - STANDARD,386,A1,B,23.2,22.2,22.7,2.6,2.5,2.6,0,10.0,414,12
52,2016,TESLA,MODEL X P90D,SUV - STANDARD,568,A1,B,23.6,23.3,23.5,2.7,2.6,2.6,0,10.0,402,12

To display csv file

In [ ]:
car.describe(include='all')

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
count,53.000000,53,53,53,53.000000,53,53,53.00000,53.000000,53.000000,53.000000,53.000000,53.000000,53.0,19.0,53.000000,53.000000
unique,NaN,8,23,7,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,TESLA,i-MiEV,FULL-SIZE,NaN,A1,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,23,5,21,NaN,53,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2014.735849,NaN,NaN,NaN,190.622642,NaN,NaN,19.64717,21.633962,20.541509,2.207547,2.422642,2.301887,0.0,10.0,239.169811,8.471698
std,1.227113,NaN,NaN,NaN,155.526429,NaN,NaN,3.00100,1.245753,1.979455,0.344656,0.143636,0.212576,0.0,0.0,141.426352,2.991036
min,2012.000000,NaN,NaN,NaN,35.000000,NaN,NaN,15.20000,18.800000,16.800000,1.700000,2.100000,1.900000,0.0,10.0,100.000000,4.000000
25%,2014.000000,NaN,NaN,NaN,80.000000,NaN,NaN,17.00000,20.800000,18.700000,1.900000,2.300000,2.100000,0.0,10.0,117.000000,7.000000
50%,2015.000000,NaN,NaN,NaN,107.000000,NaN,NaN,19.00000,21.700000,20.000000,2.100000,2.400000,2.200000,0.0,10.0,135.000000,8.000000
75%,2016.000000,NaN,NaN,NaN,283.000000,NaN,NaN,22.40000,22.500000,22.100000,2.500000,2.500000,2.500000,0.0,10.0,402.000000,12.000000
max,2016.000000,NaN,NaN,NaN,568.000000,NaN,NaN,23.90000,23.300000,23.600000,2.700000,2.600000,2.600000,0.0,10.0,473.000000,12.000000

To read and write text file

In [ ]:
car=pd.read_table("/content/drive/MyDrive/Principles of Data Science/cars.txt")
car

                 mpg        cyl   disp         hp         drat          wt       qsec        vs   am   gear   carb
0                                               Mazda
1   RX4                 21         6      160     ...
2                                               Mazda
3   RX4 Wag          21            6      160     ...
4   Datsun 710      22.8           4      108     ...
5                                            Hornet 4
6   Drive           21.4           6      258     ...
7                                              Hornet
8   Sportabout      18.7           8    360       ...
9   Valiant         18.1           6    225       ...
10  Duster 360      14.3           8    360       ...
11  Merc 240D       24.4           4   146.7      ...
12  Merc 230        22.8           4   140.8      ...
13  Merc 280        19.2           6   167.6      ...
14  Merc 280C       17.8           6   167.6      ...
15                                               Merc
16  450SE           16.4           8   275.8      ...
17                                               Merc
18  450SL           17.3           8   275.8      ...
19                                               Merc
20  450SLC          15.2           8   275.8      ...
21                                           Cadillac
22  Fleetwood       10.4           8      472     ...
23                                            Lincoln
24  Continental     10.4           8      460     ...
25                                           Chrysler
26  Imperial        14.7           8    440       ...
27  Fiat 128        32.4           4    78.7      ...
28                                              Honda
29  Civic           30.4           4    75.7      ...
30                                             Toyota
31  Corolla         33.9           4    71.1      ...
32                                             Toyota
33  Corona          21.5           4   120.1      ...
34                                              Dodge
35  Challenger      15.5           8      318     ...
36                                                AMC
37  Javelin         15.2           8      304     ...
38                                             Camaro
39  Z28             13.3           8      350     ...
40                                            Pontiac
41  Firebird        19.2           8      400     ...
42  Fiat X1-9       27.3           4       79     ...
43                                            Porsche
44  914-2               26         4   120.3      ...
45                                              Lotus
46  Europa          30.4           4    95.1      ...
47                                               Ford
48  Pantera L       15.8           8      351     ...
49                                            Ferrari
50  Dino            19.7           6      145     ...
51                                           Maserati
52  Bora             15            8      301     ...
53  Volvo 142E      21.4           4      121     ...
54

To display text file

In [ ]:
car.describe(include='all')

                     mpg        cyl   disp         hp         drat          wt       qsec        vs   am   gear   carb
count                                                  55
unique                                                 51
top                                                  Merc
freq                                                    3

To read and write Json file

In [ ]:
customer=pd.read_json("/content/drive/MyDrive/Principles of Data Science/customers.json")
customer

,id,email,first,last,company,created_at,country
0,1,isidro_von@hotmail.com,Torrey,Veum,"Hilll, Mayert and Wolf",2014-12-25 04:06:27.981000+00:00,Switzerland
1,2,frederique19@gmail.com,Micah,Sanford,Stokes-Reichel,2014-07-03 16:08:17.044000+00:00,Democratic People's Republic of Korea
2,3,fredy54@gmail.com,Hollis,Swift,"Rodriguez, Cartwright and Kuhn",2014-08-18 06:15:16.731000+00:00,Tunisia
3,4,braxton29@hotmail.com,Perry,Leffler,"Sipes, Feeney and Hansen",2014-07-10 11:31:40.235000+00:00,Chad
4,5,turner59@gmail.com,Janelle,Hagenes,Lesch and Daughters,2014-04-21 15:05:43.229000+00:00,Swaziland
...,...,...,...,...,...,...,...
9994,9995,delores_cruickshank@gmail.com,Robert,Batz,Carter-Tillman,2014-04-02 19:13:57.592000+00:00,Yemen
9995,9996,marley_brown32@hotmail.com,Leone,Reinger,Smitham and Daughters,2014-07-01 18:45:06.223000+00:00,Argentina
9996,9997,raymond68@hotmail.com,Clementina,Bode,VonRueden LLC,2014-06-12 18:38:54.222000+00:00,Lao People's Democratic Republic
9997,9998,juston_powlowski@hotmail.com,Yvonne,Prosacco,Green Inc,2015-02-04 18:54:09.035000+00:00,Holy See (Vatican City State)
9998,9999,orion.senger72@yahoo.com,Darrin,Connelly,Funk and Daughters,2015-01-21 11:20:51.483000+00:00,Niger

To display Json file

In [ ]:
customer.describe(include='all')

<ipython-input-28-3411a95e9484>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  customer.describe(include='all')

,id,email,first,last,company,created_at,country
count,9999.000000,9999,9999,9999,9999,9999,9999
unique,NaN,9991,2917,474,8421,9999,244
top,NaN,susie4@hotmail.com,Selena,Block,Gleason Inc,2014-12-25 04:06:27.981000+00:00,Congo
freq,NaN,2,11,36,7,1,93
first,NaN,NaN,NaN,NaN,NaN,2014-04-01 15:09:14.729000+00:00,NaN
last,NaN,NaN,NaN,NaN,NaN,2015-04-01 13:44:11.268000+00:00,NaN
mean,5000.000000,NaN,NaN,NaN,NaN,NaN,NaN
std,2886.607005,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,2500.500000,NaN,NaN,NaN,NaN,NaN,NaN
50%,5000.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,7499.500000,NaN,NaN,NaN,NaN,NaN,NaN
max,9999.000000,NaN,NaN,NaN,NaN,NaN,NaN